@model MVC_Vezbi_database.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add user with this email to role:</h2>

@using (Html.BeginForm("AddUserToRole", "Account")) {
    <div >
        @Html.LabelFor(z => z.Email);
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" });
    </div>
    <div>
        @Html.DropDownListFor(m => m.SelectRole, new SelectList(Model.Roles));
        @* prv argument izbraniot argument, vtor sodrzinite na listata *@
    </div>
    <button type="submit" class="btn">Save</button>
}

