@model MVC_vezbi.Models.Client
@{
    ViewBag.Title = "ShowClient";
}

@if (Model.Age < 18)
{


<h3 style="color:red">Potreben nadzor od roditel ili staratel</h3>
}
else
{
<h2>@Model.Name - @Model.MovieCard</h2>
<h2>Phone @Model.Phone</h2>
<h2>Address @Model.Address</h2>
}
